/* 共通 ここから */
:root {
  --color-white: #FFFFFF;
  --color-white-opacity:#FFFFFF4D;
  --color-pink: #FA7DA3;
  --color-dark-gray: #333333;
  --color-green: #49C43D;
  --color-light-pink: #FDF0F5;
  --color-light-red: #FFD2D2;
  --color-deep-gray: #433E3F;
  --color-transparent-white: #FFFFFF00;
  --color-medium-gray: #666666;
  --color-light-blue: #50BFFF;
  --color-dark-brown: #4D2C1C;
  --color-transparent-gray: #66666600;
  --color-deep-brown: #4D2B1B;
  --color-light-yellow: #FFFEDD;
  --color-semi-transparent-black: #00000040;
  --color-bright-yellow: #FFFD7A;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 100%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--color-dark-gray);
}
a {
  text-decoration:none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

/* 共通 ここまで */

/* #header ここから */
#header {
  position: sticky;
  background-color: var(--color-white);
}
#header .header__container {
  display: flex;
  gap: 0;
  width: calc(100% - 1.3125rem);
  height: 3.75rem;
  margin:  0 auto;
}
#header .header__container a {
  cursor: pointer;
}
#header .header__container img.pc_only {
  display: none;
}
#header .header__container img.sp_only {
  display: block;
  width: 4.5rem;
  height: 2.4456rem;
  margin-top: 0.625rem;
}
#header .header__container a svg.pc_only {
  display: none;
}
#header .header__link-contact-container {
  width: 6.6875rem;
  height: 1.9375rem;
  border-radius: 0.9688rem;
  background-color: var(--color-pink);
  cursor: pointer;
  margin-left: auto;
  margin-top: 0.8125rem;
  transition: all .3s ease-out;
}
#header .header__link-reservation-container {
  width: 10.8606rem;
  height: 1.9375rem;
  border-radius: 0.9688rem;
  background-color: var(--color-green);
  cursor: pointer;
  margin-left: 0.5625rem;
  margin-top: 0.8125rem;
  transition: all .3s ease-out;
}
#header .header__link-contact-container:hover {
  opacity: .7;
}
#header .header__link-reservation-container:hover {
  opacity: .7;
}
#header .header__link-contact {
  display: flex;
  gap: 0;
  font-size: 0.75rem;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: var(--color-white);
  margin-left: 0.6875rem;
  margin-top: 0.375rem;
}
#header .header__link-contact-arrow {
  width: 0.3762rem;
  height: 0.6238rem;
  margin-left: 0.1875rem;
}
#header .header__link-reservation {
  display: flex;
  gap: 0;
  font-size: 0.75rem;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: var(--color-white);
  margin-left: 0.75rem;
  margin-top: 0.375rem;
  white-space: nowrap;
}
#header .header__link-reservation .header__link-small-text {
 font-size: 0.625rem;
 margin-top: 0.1875rem;
 white-space: nowrap;
}
#header .header__link-reservation-arrow {
  width: 0.3762rem;
  height: 0.6238rem;
  margin-left: 0.1875rem;
}
@media(min-width:1025px) {
  #header .header__container {
    width: calc(100% - 26.125rem);
    height: 5.75rem;
    margin: 0 auto;
    max-width: 1022px;
  }
  #header .header__container img.sp_only {
    display: none;
  }
  #header .header__container img.pc_only {
    display: block;
    width: 6.0038rem;
    height: 3.2819rem;
    margin-top: 1.1875rem;
  }
  #header .header__link-contact-container {
    width: 11.8187rem;
    height: 3.1475rem;
    border-radius: 1.5737rem;
    margin: 0;
    margin-left: auto;
    margin-top: 1.3125rem;
  }
  #header .header__link-reservation-container {
    width: 18.4681rem;
    height: 3.1475rem;
    border-radius: 1.5737rem;
    margin: 0;
    margin-left: 1.3125rem;
    margin-top: 1.3125rem;
  }
  #header .header__link-contact {
    font-size: 1.32rem;
    letter-spacing: 0;
    margin: 0;
    margin-left: 1.5625rem;
    margin-top: 0.5rem;
  }
  #header .header__link-contact-arrow {
    width: 0.605rem;
    height: 1.0137rem;
    margin-left: 0.5rem;
  }
  #header .header__link-reservation {
    font-size: 1.32rem;
    letter-spacing: 0;
    margin: 0;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  #header .header__link-reservation .header__link-small-text {
    font-size: 1.1169rem;
    letter-spacing: 0;
    margin: 0;
    margin-top: 0.25rem;
  }
  #header .header__link-reservation-arrow {
    width: 0.605rem;
    height: 1.0137rem;
    margin: 0;
    margin-left: 0.25rem;
  }
}

@media(min-width:768px) and (max-width:1024px) {
  #header .header__container {
    width: calc(100% - 2.5rem);
    height: 5.75rem;
    margin: 0 auto;
  }
  #header .header__container img.sp_only {
    display: none;
  }
  #header .header__container img.pc_only {
    display: block;
    width: 6.0038rem;
    height: 3.2819rem;
    margin-top: 1.1875rem;
  }
  #header .header__link-contact-container {
    width: 11.8187rem;
    height: 3.1475rem;
    border-radius: 1.5737rem;
    margin: 0;
    margin-left: auto;
    margin-top: 1.3125rem;
  }
  #header .header__link-reservation-container {
    width: 18.4681rem;
    height: 3.1475rem;
    border-radius: 1.5737rem;
    margin: 0;
    margin-left: 1.3125rem;
    margin-top: 1.3125rem;
  }
  #header .header__link-contact {
    font-size: 1.32rem;
    letter-spacing: 0;
    margin: 0;
    margin-left: 1.5625rem;
    margin-top: 0.5rem;
  }
  #header .header__link-contact-arrow {
    width: 0.605rem;
    height: 1.0137rem;
    margin-left: 0.5rem;
  }
  #header .header__link-reservation {
    font-size: 1.32rem;
    letter-spacing: 0;
    margin: 0;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  #header .header__link-reservation .header__link-small-text {
    font-size: 1.1169rem;
    letter-spacing: 0;
    margin: 0;
    margin-top: 0.25rem;
  }
  #header .header__link-reservation-arrow {
    width: 0.605rem;
    height: 1.0137rem;
    margin: 0;
    margin-left: 0.25rem;
  }
}
/* #header ここまで */

/* #main-visual ここから */
#main-visual .main-visual__container {
  width: 100%;
  height: 19.6875rem;
  margin: 0 auto;
  background-color: var(--color-pink);
  overflow: hidden;
}
#main-visual .main-visual__title-container {
  width: 100%;
  padding-left: 1.125rem;
  padding-right: 0;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
}
#main-visual .main-visual__title-full-body-hair-removal {
  font-size: 2.625rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: var(--color-white);
  display: block;
  width: 10.5rem;
  text-align: center;
  white-space: nowrap;
  margin-top: 0;
}
#main-visual .main-visual__face-and-vio {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: var(--color-white);
  display: block;
  width: 6.875rem;
  text-align: center;
  margin-left: 1.625rem;
}
#main-visual .main-visual__text-container {
  width: 11.75rem;
  height: 6.6875rem;
  display: block;
  margin-right: 0;
  margin-left: 1.1875rem;
  background-color: var(--color-white-opacity);
  box-shadow: 0.25rem 0.25rem 0px #00000040;
}
#main-visual .main-visual__text-now-only {
  background-color: var(--color-white);
  color: var(--color-pink);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1;
  display: block;
  width: 2.9375rem;
  height: 1.4375rem;
  margin: 0;
  margin-left: 1.625rem;
  margin-top: 1.5625rem;
  padding-left: 0.25rem;
  padding-top: 0.3125rem;
}
#main-visual .main-visual__text-first-month {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-white);
  display: inline-block;
  width: 8.625rem;
  margin: 0;
  margin-top: -2.5rem;
  margin-left: 1.6875rem;
}
#main-visual .main-visual__text-zero {
  font-size: 4.75rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-bright-yellow);
  display: inline-block;
  margin-left: 0.5rem;
}
#main-visual .main-visual__text-yen {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-bright-yellow);
}
#main-visual .main-visual__text-price {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  color: var(--color-white);
  display: block;
  width: 3.75rem;
  margin-left: auto;
  margin-right: 0.125rem;
  margin-top: 0.5rem;
  white-space: nowrap;
}
#main-visual .main-visual__text-yen-per-month {
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: normal;
  color: var(--color-white);
  display: inline-block;
}
#main-visual .main-visual__photo-and-text-container {
  width: 100%;
  padding-left: 0.25rem;
  padding-right: 1.625rem;
  margin: 0 auto;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: flex-start;
}
#main-visual .sp_only.main-visual__woman-photo {
  display: block;
  width: 13.25rem;
  aspect-ratio: 209 / 261;
  margin-top: -0.625rem;
  margin-left: 0;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
}
#main-visual .pc_only.main-visual__woman-photo {
  display: none;
}
#main-visual .main-visual__text-container-price-and-unlimited-attendance {
  margin: 0;
  padding-left: 1.1875rem;
}
#main-visual .main-visual__text-container-unlimited-attendance {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.4375rem;
}
#main-visual .main-visual__text-container-unlimited-attendance p {
  display: block;
  width: 8.3125rem;
  height: 2.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  border: 0.0625rem solid var(--color-white);
  color: var(--color-white);
  text-align: center;
  padding-top: 0.25rem;
}
@media(min-width:1380px) {
  #main-visual .main-visual__container {
    height: 38.25rem;
    overflow: hidden;
  }
  #main-visual .main-visual__title-container {
    width: calc(100% - 25.625rem);
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 3.4375rem;
    padding-right: 1.9375rem;
    position: relative;
    z-index: 10;
    justify-content: space-between;
  }
  #main-visual .main-visual__title-full-body-hair-removal {
    width: 30.5rem;
    font-size: 7.6344rem;
    font-weight: 400;
    margin: 0;
    margin-top: -0.75rem;
    margin-left: -0.5rem;
    text-shadow: 0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6);
  }
  #main-visual .main-visual__face-and-vio {
    font-size: 2.25rem;
    margin: 0;
    text-shadow: none;
    display: block;
    width: 100%;
    margin-top: -1.25rem;
    padding-left: 17.8125rem;
  }
  #main-visual .main-visual__text-container {
    width: 26.4513rem;
    height: 13.875rem;
    padding-right: 3.625rem;
    padding-left: 3.625rem;
  }
  #main-visual .main-visual__text-now-only {
    width: 6.61rem;
    height: 3.2281rem;
    font-size: 1.8281rem;
    font-weight: 700;
    margin: 0;
    margin-top: 2.6875rem;
    padding-left: 0.625rem;
    padding-top: 0.75rem;
  }
  #main-visual .main-visual__text-first-month {
    width: 19.4219rem;
    white-space: nowrap;
    font-size: 3.375rem;
    font-weight: 700;
    margin: 0;
    margin-top: -5.375rem;
    margin-left: 0.1875rem;
  }
  #main-visual .main-visual__text-zero {
    margin: 0;
    margin-left: 1.7rem;
    font-size: 10.6875rem;
    font-weight: 700;
  }
  #main-visual .main-visual__text-yen {
    font-size: 5.0625rem;
    font-weight: 700;
  }
  #main-visual .main-visual__photo-and-text-container {
    width: calc(100% - 27.625rem);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    justify-content: space-between;
  }
  #main-visual .sp_only.main-visual__woman-photo {
    display: none;
  }
  #main-visual .pc_only.main-visual__woman-photo {
    display: block;
    width: 30.5625rem;
    aspect-ratio: 486 / 608;
    margin-top: -7.5rem;
    margin-left: -0.75rem;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
  }
  #main-visual .main-visual__text-container-price {
    margin-right: 8.4375rem;
  }
  #main-visual .main-visual__text-price {
    font-size: 1.655rem;
    font-weight: 400;
  }
  #main-visual .main-visual__text-yen-per-month {
    font-size: 1.0637rem;
    font-weight: 400;
  }
  #main-visual .main-visual__text-container-unlimited-attendance {
    gap: 1.25rem;
    margin: 0;
    margin-right: 0.875rem;
    margin-top: 2.8125rem;
  }
  #main-visual .main-visual__text-container-unlimited-attendance p {
    width: 26.4375rem;
    height: 4.3119rem;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    padding-top: 0.75rem;
  }
  #main-visual .main-visual__text-no-additional-charges {
    font-feature-settings: "palt";
  }
  #main-visual .main-visual__text-peace-of-mind-support {
    font-feature-settings: "palt";
  }
}

@media(min-width:768px) and (max-width:1379px) {
  #main-visual .main-visual__container {
    height: 54.0625rem;
  }
  #main-visual .main-visual__title-container {
    width: calc(100% - 2.5rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 3.4375rem;
    padding-right: 1.9375rem;
    position: relative;
    z-index: 10;
    justify-content: space-between;
  }
  #main-visual .main-visual__title-full-body-hair-removal {
    width: 30.5rem;
    font-size: 7.6344rem;
    font-weight: 400;
    margin: 0;
    margin-top: -0.75rem;
    margin-left: -0.5rem;
    text-shadow: 0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6),
               0 0 2.1875rem rgba(250, 125, 163, 0.6);
  }
  #main-visual .main-visual__face-and-vio {
    font-size: 2.25rem;
    margin: 0;
    text-shadow: none;
    display: block;
    width: 100%;
    margin-top: -1.25rem;
    padding-left: 17.8125rem;
  }
  #main-visual .main-visual__text-container {
    width: 26.4513rem;
    height: 13.875rem;
    padding-right: 3.625rem;
    padding-left: 3.625rem;
  }
  #main-visual .main-visual__text-now-only {
    width: 6.61rem;
    height: 3.2281rem;
    font-size: 1.8281rem;
    font-weight: 700;
    margin: 0;
    margin-top: 2.6875rem;
    padding-left: 0.625rem;
    padding-top: 0.75rem;
  }
  #main-visual .main-visual__text-first-month {
    width: 19.4219rem;
    white-space: nowrap;
    font-size: 3.375rem;
    font-weight: 700;
    margin: 0;
    margin-top: -5.375rem;
    margin-left: 0.1875rem;
  }
  #main-visual .main-visual__text-zero {
    margin: 0;
    margin-left: 1.7rem;
    font-size: 10.6875rem;
    font-weight: 700;
  }
  #main-visual .main-visual__text-yen {
    font-size: 5.0625rem;
    font-weight: 700;
  }
  #main-visual .main-visual__photo-and-text-container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    justify-content: center;
  }
  #main-visual .sp_only.main-visual__woman-photo {
    display: none;
  }
  #main-visual .pc_only.main-visual__woman-photo {
    display: block;
    width: 30.5625rem;
    aspect-ratio: 486 / 608;
    margin-top: -5rem;
    margin-left: -0.75rem;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
  }
  #main-visual .main-visual__text-container-price {
    margin-right: 8.4375rem;
  }
  #main-visual .main-visual__text-price {
    font-size: 1.655rem;
    font-weight: 400;
  }
  #main-visual .main-visual__text-yen-per-month {
    font-size: 1.0637rem;
    font-weight: 400;
  }
  #main-visual .main-visual__text-container-unlimited-attendance {
    gap: 1.25rem;
    margin: 0;
    margin-right: 0.875rem;
    margin-top: 2.8125rem;
    margin-bottom: 3.4375rem;
  }
  #main-visual .main-visual__text-container-unlimited-attendance p {
    width: 14.375rem;
    height: 4.3119rem;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    padding-top: 0.75rem;
  }
  #main-visual .main-visual__text-no-additional-charges {
    font-feature-settings: "palt";
  }
  #main-visual .main-visual__text-peace-of-mind-support {
    font-feature-settings: "palt";
  }
}
/* #main-visual ここまで */

/* #present ここから */
#present .present__container {
  width: 100%;
  background-color: var(--color-light-yellow);
  padding-top: 1.375rem;
}
#present .present__title {
  display: flex;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color-pink);
  font-feature-settings: "palt";
  margin-left: 145px;
}
#present .present__title::before, #present .present__title::after {
  content: '';
  width: 0.125rem;
  height: 1.6875rem;
  background-color: var(--color-pink);
}
#present .present__title::before {
  margin-right: 0.75rem;
  transform: rotate(-29.99deg)
}
#present .present__title::after {
  margin-left: 0.75rem;
  transform: rotate(-150.01deg)
}

/* #present ここまで */